.Screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Screen-form {
    padding: 20px;
}

.Screen-form button {
    margin: 8px;
}

.Screen-list {
    width: 100%;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}